<div class={{styles.columnLeft}}>
  <h1 class={{vudu 'title noWrap mb0 black overflowHidden'}}>{{post.title}}</h1>
</div>
<div class={{styles.columnRight}}>
  <h1 class={{vudu 'title mb0 black'}}>{{moment-format post.pubDate 'MM.DD.YYYY'}}</h1>
</div>
