<div class={{vudu 'col10 flex alignCenter justifyStart overflowHidden'}}>
  <h1 class={{vudu 'title noWrap mb0 black'}}>{{post.title}}</h1>
</div>
<div class={{vudu 'col2 flex alignCenter justifyEnd'}}>
  <h1 class={{vudu 'title alignRight mb0 black'}}>{{moment-format post.pubDate 'MM.DD.YYYY'}}</h1>
</div>
