<a class="mobile-nav-link {{styles.link}}" {{action 'animateThenGoTo' 'contact' true}}>Contact</a>
<a class="mobile-nav-link {{styles.link}}" {{action 'animateThenGoTo' 'jobs' true}}>Jobs</a>
<a class="mobile-nav-link {{styles.link}}" {{action 'animateThenGoTo' null true}}>Info</a>
<a class="mobile-nav-link {{styles.link}}" {{action 'animateThenGoTo' 'shop'}}>Shop</a>
<a class="mobile-nav-link {{styles.link}} "{{action 'animateThenGoTo' 'work'}}>Work</a>
<a class="mobile-nav-link {{styles.link}}" {{action 'animateThenGoTo' 'feed'}}>Feed</a>
