<a class={{styles.link}} {{action 'clickedIndexSubsection' 'contact'}}>Contact</a>
<a class={{styles.link}} {{action 'clickedIndexSubsection' 'jobs'}}>Jobs</a>
<a class={{styles.link}} {{action 'clickedIndexSubsection' null}}>Info</a>
{{#link-to 'shop' class=styles.link}}Shop{{/link-to}}
{{#link-to 'work' class=styles.link}}Work{{/link-to}}
{{#link-to 'feed' class=styles.link}}Feed{{/link-to}}
