<div class="{{vudu 'sansRegular center py4 borderTopThin small'}}">
  {{#if isFiltered}}
    <img {{action 'clearFilters'}} class="{{vudu 'maxHeight15'}}" src='images/x.svg' />
  {{else}}
    <img {{action 'toggleFilterBlock'}} class="{{vudu 'maxHeight15'}}" src='images/filter.svg' />
  {{/if}}
</div>
<div class="filter-block">
  <div class={{vudu 'py4 borderBottomThin'}}>
    <ul class={{vudu 'flex spaceAround'}}>
      {{#each types as |type|}}
        {{filter-button
            typeFilter=typeFilter
            filter=type
            filterAction=(route-action 'toggleFilter' type)}}
      {{/each}}
    </ul>
  </div>
  <div class={{vudu 'py4'}}>
    <ul class={{vudu 'flex wrap'}}>
      {{#each technologies as |tech|}}
        <span class={{vudu 'col4 center py4'}}>
          {{filter-button
              techFilter=techFilter
              filter=tech
              filterAction=(route-action 'toggleFilter' tech)}}
        </span>
      {{/each}}
    </ul>
  </div>
</div>
