<div {{action (action 'toggleNav')}}>
  {{#if active}}
    <img src='images/icon-x.svg' />
    {{else}}
    <img src='images/icon-hamburger.svg' />
  {{/if}}
</div>
<div class={{styles.navLabel}} id="GLOBAL--mobile-nav-bar--nav-label">
  {{#if active}}
    <img src='images/logo.svg' />
  {{else}}
    <div class={{styles.strikeThrough}}></div>
    {{liquid-bind sanctu.navLabel}}
  {{/if}}
</div>
