<div class='GLOBAL--nav-bar--stripe {{styles.stripe}} {{if isPreInteraction styles.stripeHidden}}'></div>

<div class={{styles.inner}}>
  <a class={{styles.link}} {{action 'clickedMainSection' 'shop'}}><span>Shop</span></a>
  <a class={{styles.link}} {{action 'clickedMainSection' 'feed'}}><span>Feed</span></a>
  <a class={{styles.link}} {{action 'clickedMainSection' 'work'}}><span>Work</span></a>
  <img class={{styles.logo}} src='images/logo.svg' />
  <a class={{styles.link}} {{action 'clickedIndexSubsection' null}}><span>Info</span></a>
  <a class={{styles.link}} {{action 'clickedIndexSubsection' 'jobs'}}><span>Jobs</span></a>
  <a class={{styles.link}} {{action 'clickedIndexSubsection' 'contact'}}><span>Contact</span></a>
</div>
