<div class='{{variant}} content'>
  <div class='frame {{styles.projectAsset}}' style={{featuredOverlayStyle}}>
    <img src='/images/frames/{{framePath}}.svg' class={{styles.projectFrame}} />
    <img src='/images/frames/{{framePath}}-white.svg' class='{{styles.projectFrameWhite}} white' />
    <video class={{styles.projectVid}} src={{project.featuredVideo.file.url}} loop />
  </div>
  <div class='{{styles.projectBackground}} project-background'>
    <div
      class='content {{styles.projectBackgroundImage}} project-background-image'
      style={{artBackgroundStyle}}>
    </div>
  </div>
</div>
