<div class='content'>
  <div class='work work-{{project.variant}}'>
    <img src={{project.featuredOverlay.file.url}}>
    <video src={{project.featuredVideo.file.url}} poster={{project.featureImage.file.url}} autoplay loop />
    <div class='work-title-block'>
      <h1 class="project-copy {{vudu 'title'}}">{{project.title}}</h1>
      <p class="project-copy">{{project.description}}</p>
    </div>
  </div>
  <div style='background-color: {{project.colorBlock}}' class='play play-{{project.variant}}'>
    <div class='play-secondary'></div>
  </div>
</div>
