<div class='content'>
  <div class='work work-{{project.variant}}'>
    <img src={{project.featuredOverlay.file.url}}>
    <video src={{project.featuredVideo.file.url}} poster={{project.featureImage.file.url}} autoplay loop />
    <h1 class='work-title'>{{project.title}}</h1>
  </div>
  <div class='play play-{{project.variant}}'>
    <div class='play-secondary'></div>
  </div>
</div>
