{{#if isDown}}
  <div class="{{styles.downArrowPosition}}">
    <svg xmlns="http://www.w3.org/2000/svg" fill={{fill}} style="transform: rotate(180deg)" width="100%" viewBox="0 0 75 106">
      <g transform="translate(12 15)">
        <polygon points="52.1 29.7 52.9 29 26.4 0 0 29 0.7 29.7 26.4 1.5"/>
        <polygon points="26.9 76.7 26.9 0.7 25.9 0.7 25.9 76.7"/>
      </g>
    </svg>
  </div>
{{else if isUp}}
  <div class="{{styles.upArrowPosition}}">
    <svg xmlns="http://www.w3.org/2000/svg" fill={{fill}} width="100%" viewBox="0 0 75 106">
      <g transform="translate(12 15)">
        <polygon points="52.1 29.7 52.9 29 26.4 0 0 29 0.7 29.7 26.4 1.5"/>
        <polygon points="26.9 76.7 26.9 0.7 25.9 0.7 25.9 76.7"/>
      </g>
    </svg>
  </div>
{{/if}}
