<div class='content'>
  <div class='shop shop-{{product.variant}}'>
    {{#link-to 'shop.show' product.slug class=styles.linkWrapper}}
      {{fade-in-image tagName="img"
                      class=(concat (get styles 'image') ' ' 'image')
                      imageSource=product.altImage.file.url}}

      {{fade-in-image tagName="img"
                      class=(concat (get styles 'overlay') ' ' 'overlay')
                      imageSource=product.featuredImage.file.url}}

      <div class={{vudu 'z3'}}>
        <h1 class={{vudu 'title mb2'}}>{{product.title}}</h1>
        <h1 class={{vudu 'title'}}>${{product.price}}</h1>
      </div>
    {{/link-to}}
  </div>
</div>
