<div class='{{v.mt5}} {{v.flex}} {{v.wrap}}'>
  {{#each model as |product|}}
    <div class={{styles.shopBlock}}>
      <div class='content'>
        <div class='shop'>
          <img class="image" src={{product.featuredImage.file.url}} />
          <img class="overlay" src={{product.featuredImageOverlay.file.url}} />
          {{#link-to 'shop.show' product.slug class="link-wrapper"}}
            <div>
              <h1 class={{vudu 'serifLight'}}>{{product.title}}</h1>
              <h1 class={{vudu 'serifLight'}}>${{product.price}}</h1>
            </div>
          {{/link-to}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
