<div class={{v.mdFlex}}>
  <div class='{{v.col12}} {{v.mdCol6}} {{v.mdFlex}} {{v.flexColumn}} {{v.alignEnd}}'>
    <div>
      <div>
        <img class='{{v.smFullWidth}}' src={{model.featuredImage.file.url}}/>
      </div>
      <div class='{{v.flex}} {{v.spaceBetween}}'>
        <img src='images/icon-arrow_head.svg' />
        <img src='images/icon-plus.svg' />
      </div>
    </div>
  </div>
  <div class='{{v.col12}} {{v.mdCol6}} {{v.pr6}} {{v.ml4}}'>
    <h1 class='{{v.serifLight}}'>{{model.title}}</h1>
    <h1 class='{{v.serifLight}}'>${{model.price}}</h1>
    <h1 class='{{v.serifLight}}'>Select a size:</h1>
    <h5 class={{v.sansLight}}>{{model.description}}</h5>
    <div>{{model.instructions}}</div>
  </div>
</div>
