{{#fade-in}}
<div class="{{styles.shopShow}}">
  <div class="{{vudu 'col12 mdCol6 mdFlex flexColumn alignEnd fullHeight'}}">
    {{#slick-slider fade=true}}
      {{#each model.gallery as |image|}}
        <div class="slide {{styles.productImage}} {{vudu 'col12'}}" style='background-image: url({{image.file.url}})'></div>
      {{/each}}
    {{/slick-slider}}
  </div>
  <div class={{vudu 'col12 mdCol6 flex flexColumn px2 py4'}}>
    <div class={{vudu 'col12 lgCol8'}}>
      <h1 class={{vudu 'title mb3 serifRegular'}}>{{model.title}}</h1>
      <h1 class={{vudu 'title mb5 serifLight'}}>${{model.price}}</h1>
      <h4 class={{vudu 'pSmall mb3 serifLight'}}>{{model.description}}</h4>
      <ul class={{vudu 'listNone p0 mb3 pSmall serifLight'}}>
        {{#each model.instructionList as |instruction|}}
          <li>{{instruction}}</li>
        {{/each}}
      </ul>
      <ul class={{vudu 'flex listNone p0 my5 spaceBetween'}}>
        {{#each model.options as |option|}}
          <li class={{vudu 'title caps serifRegular'}}>{{option}}</li>
        {{/each}}
      </ul>
      <h1 class={{vudu 'title serifLight'}}>Buy Now</h1>
    </div>
  </div>
</div>
{{/fade-in}}
