<div class={{v.mdFlex}}>
  <div class='{{v.col12}} {{v.mdCol6}} {{v.mdFlex}} {{v.justifyEnd}}'>
    <img class='{{v.smFullWidth}}' src={{model.featuredImage.file.url}}/>
  </div>
  <div class='{{v.col12}} {{v.mdCol6}} {{v.pr6}} {{v.ml4}}'>
    <h1>{{model.title}}</h1>
    <h1>{{model.price}}</h1>
    <h1>Select a size:</h1>
    <h5 class={{v.sansLight}}>{{model.description}}</h5>
    <h5>{{model.instructions}}</h5>
  </div>
</div>
