<div class={{styles.workWrapper}}>
  <div class={{vudu 'flex wrap'}}>
    {{#if sanctu.animationComplete}}
      {{#each model as |pj|}}
        <div class="{{vudu 'col12 mdCol6 px4'}}" {{action (route-action 'didClickProject' pj)}} data-project-id={{pj.id}}>
          {{project-block project=pj}}
        </div>
      {{else}}
        <div class={{vudu 'fullHeightSubNav fullWidth flex alignCenter justifyCenter'}}>
          {{#if (eq typeFilter 'product')}}
            <h1 class={{vudu 'pLarge col10 mdCol12 center'}}>We haven't made any <span class={{vudu 'electricBlue pointer'}} {{action (route-action 'toggleFilter' techFilter)}}>{{typeFilter}}s</span> with <span class={{vudu 'electricBlue pointer'}} {{action (route-action 'toggleFilter' typeFilter)}}>{{techFilter}}</span> (yet!)</h1>
            {{else}}
            <h1 class={{vudu 'pLarge col10 mdCol12 center'}}>We haven't worked on any <span class={{vudu 'electricBlue pointer'}} {{action (route-action 'toggleFilter' techFilter)}}>{{typeFilter}}</span> projects made with <span class={{vudu 'electricBlue pointer'}} {{action (route-action 'toggleFilter' typeFilter)}}>{{techFilter}}</span> (yet!)</h1>
          {{/if}}
        </div>
      {{/each}}
    {{/if}}
  </div>
</div>

  {{work-filter
      typeFilter=typeFilter
      techFilter=techFilter
      clearFilters=(route-action 'clearFilters')
      toggleFilter=(route-action 'toggleFilter')}}

  {{mobile-work-filter
      typeFilter=typeFilter
      techFilter=techFilter
      clearFilters=(route-action 'clearFilters')
    toggleFilter=(route-action 'toggleFilter')}}
