<div>
  <p class={{vudu 'col10 mxAuto py5 serifLight'}}>{{model.title}}</p>
  <img class={{vudu 'col12'}} src={{model.featuredImage.file.url}} />
  <p class={{vudu 'col10 mxAuto py5 serifLight'}}>{{model.summary}}</p>
  <img class={{vudu 'col12'}} src={{model.featuredImage.file.url}} />
  <p class={{vudu 'py5 col10 mxAuto serifLight'}}>{{model.body}}</p>
  <div class={{vudu 'col10 mxAuto py5'}}>
    <p class={{vudu 'serifLight'}}>{{model.takeaway}}</p>
    <a style={{vudu 'black'}} href={{model.url}} target="_blank">
      <p class={{vudu 'serifLight py5 black'}}>Checkout Dame Product</p>
    </a>
  </div>
</div>
