<div class={{styles.applicationRoute}}>
  <div class={{v.smShow}}>
    {{mobile-nav-bar}}
  </div>
  {{mobile-nav-content clickedIndexSubsection=(route-action "clickedIndexSubsection")}}

  <div class='{{v.smHide}}'>
    {{nav-bar clickedIndexSubsection=(route-action "clickedIndexSubsection")}}
  </div>

  {{liquid-outlet}}
</div>
