<div class={{styles.applicationRoute}}>
  <div class='{{vudu "smShow z2"}}'>
    {{mobile-nav-bar}}
  </div>
  {{mobile-nav-content clickedIndexSubsection=(route-action "clickedIndexSubsection")}}

  <div class='{{vudu "smHide z2"}}'>
    {{nav-bar clickedIndexSubsection=(route-action "clickedIndexSubsection")}}
  </div>

  {{liquid-outlet}}

  {{cloud-call}}
</div>
