<div class="{{styles.feedRoute}} {{vudu 'liquidInner'}}">
  <div class='{{vudu "cloudWindow"}}'>
    {{#cloud-overlay positionTop=true}}
      <div class="{{vudu 'center cloudContentTop'}}">
        <img src='images/logo_white.svg' />
        <h2 class={{vudu 'pLarge white serifLight mt6'}}>The Safest Place On Earth</h2>
      </div>
      <div class={{vudu 'absolute b0 r0'}}>
        {{scroll-to-arrow isDown=true fill='white'}}
      </div>
    {{/cloud-overlay}}
    <div class='{{vudu "cloudTriangleUp"}}'></div>
  </div>
  <div class='{{vudu "topLevelContent"}}'>
    <div class={{styles.feedWrapper}}>
      {{#if sanctu.feedData}}
        {{outlet}}
      {{else}}
        Loading...
      {{/if}}
    </div>
  </div>
</div>
