<div class="{{styles.feedRoute}} {{vudu 'liquidInner'}}">
  <div class={{vudu 'relative'}}>
    {{scroll-to-arrow direction="down"}}
    <img class={{vudu 'mirror fullWidth'}} src='images/stroke.svg'>
  </div>

  <div class={{styles.feedWrapper}}>
    {{#if sanctu.feedData}}
      {{#each sanctu.feedData as |post|}}
        {{#link-to 'feed.show' (medium-slug post.link)}}
          <div class={{styles.feedItem}}>
            <h1>{{post.title}}</h1>
            <h1>{{post.pubDate}}</h1>
          </div>
        {{/link-to}}
      {{/each}}

      {{outlet}}
    {{else}}
      Loading...
    {{/if}}
  </div>
</div>
