<div class="{{styles.feedRoute}} {{vudu 'liquidInner'}}">
  <div class='{{vudu "cloudWindow"}}'>
    <div class='{{vudu "cloudTriangleUp"}}'></div>
  </div>
  <div class='{{vudu "topLevelContent"}}'>
    <div class={{styles.feedWrapper}}>
      {{#if sanctu.feedData}}
        {{outlet}}
      {{else}}
        Loading...
      {{/if}}
    </div>
  </div>
</div>
