<div class="{{styles.feedRoute}} {{vudu 'liquidInner'}}">
  <div class={{vudu 'relative'}}>
    {{scroll-to-arrow down="true"}}
    <img class={{vudu 'mirror fullWidth'}} src='images/stroke.svg'>
  </div>

  <div class={{styles.feedWrapper}}>
  {{#each model as |post|}}
    {{#link-to 'feed.show' post.id}}
      <div class={{styles.feedItem}}>
        <h1>{{post.title}}</h1>
        <h1>{{post.date}}</h1>
      </div>
    {{/link-to}}
  {{/each}}
  </div>
</div>
