<div class="{{styles.indexRoute}} {{vudu 'liquidInner'}} detectScroll" id="index-route-scroll-context">
  <div class='{{vudu "topLevelContent"}}'>
    {{#index-scroll-container indexSubSection=s}}
      {{#each model as |group|}}
        {{#scroll-section
          class=(concat 'index--' group.title)
          action=(action "didHitWaypoint" group.title null)
        }}
          <p class={{vudu 'pLarge serifLight pb4 pt4'}}>
            {{#each group.combined as |c|}}
              {{#if c.break}}
                <div class="{{v.break}}"></div>
                {{else}}
                <span class="{{v.relative}}">
                  {{c.text}}
                  {{#if c.url}}
                    {{scroll-image url=c.url}}
                  {{/if}}
                </span>
              {{/if}}
            {{/each}}
          </p>
        {{/scroll-section}}
      {{/each}}
    {{/index-scroll-container}}
  </div>
  <div class='{{vudu "cloudWindow"}}'>
    <div class='{{vudu "cloudTriangleDown pointerNone z2"}}'></div>
    {{#cloud-overlay positionBottom=true}}
      <div class="arrow-wrapper {{vudu 'absolute t0 l0 pointerAuto'}}">
        {{scroll-to-arrow isUp=true fill='white'}}
      </div>
      <div class={{vudu 'center cloudContentBottom'}}>
        {{sanctu-chimp submitAction="emberChimpDidSubmit"}}
        <img class={{vudu 'mt6'}} src='images/logo_white.svg' />
      </div>
    {{/cloud-overlay}}
  </div>
</div>
