<div class="{{styles.indexRoute}} {{vudu 'liquidInner'}}" id="index-route-scroll-context">
  <div class='{{vudu "topLevelContent"}}'>
    {{#index-scroll-container indexSubSection=s}}
      {{#each model as |group|}}
        {{#scroll-section
          class=(concat 'index--' group.title)
          action=(action "didHitWaypoint" group.title null)
        }}
          <p class={{vudu 'pLarge pt4 pb5'}}>
            {{#each group.combined as |c|}}
              <span class="{{if c.break (concat v.relative " " v.flex " " v.spacer) v.relative}}">
                {{{c.text}}}
                {{#if c.url}}
                  {{scroll-image url=c.url}}
                {{/if}}
              </span>
            {{/each}}
          </p>
        {{/scroll-section}}
      {{/each}}
    {{/index-scroll-container}}
  </div>
  <div class='{{vudu "cloudWindow"}}'>
    <div class='{{vudu "cloudTriangleDown z2"}}'></div>
    {{#cloud-overlay positionBottom=true}}
      <div class={{vudu 'absolute t0 l0'}}>
        {{scroll-to-arrow isUp=true fill='white'}}
      </div>
      <div class={{vudu 'center cloudContentBottom'}}>
        {{ember-chimp
          class=(vudu 'mb6 pointerAuto')
          placeholder="Email Address"
          formAction="//computer.us13.list-manage.com/subscribe/post?u=34f42ff6e96e744a76ebc78c8&amp;id=925214fac6"
          buttonText="Subscribe"}}
        <img src='images/logo_white.svg' />
      </div>
    {{/cloud-overlay}}
  </div>
</div>
