<div class={{styles.indexRoute}} id="index-route-scroll-context">
  {{#index-scroll-container indexSubSection=s}}
    {{#each model as |group|}}
      {{#scroll-section
        class=(concat 'index--' group.title)
        action=(action "didHitWaypoint" group.title null)
      }}
        <div>
          {{#each group.combined as |c|}}
            <div class={{vudu 'relative'}}>
              <p>{{c.text}}</p>
              {{#if c.url}}
                {{scroll-image url=c.url}}
              {{/if}}
            </div>
          {{/each}}
        </div>
      {{/scroll-section}}
    {{/each}}
  {{/index-scroll-container}}
  <div class={{styles.triangleContainer}}>
    <img src='images/triangle-south.svg'>
  </div>
</div>
