<div class="{{styles.shopRoute}} {{vudu 'liquidInner'}}">
  <div class='{{vudu "cloudWindow"}}'>
    <div class='{{vudu "cloudTriangleUp"}}'></div>
  </div>
  <div class='{{vudu "topLevelContent"}}'>
    {{outlet}}
  </div>
</div>
