{{#scroll-route contentLoaded=true}}
  <div class="{{styles.workRoute}} {{vudu 'liquidInner'}}">
    <div class='{{vudu "cloudWindow"}}'>
      <div class='{{vudu "cloudTriangleUp"}}'></div>
    </div>
    <div class='{{vudu "topLevelContent"}}'>
      {{outlet}}
    </div>
  </div>
{{/scroll-route}}
