<div class="{{styles.workRoute}} {{vudu 'liquidInner'}} detectScroll">
  <div class='{{vudu "cloudWindow"}}'>
    {{#cloud-overlay positionTop=true}}
      <div class="{{vudu 'center cloudContentTop'}}">
        <img class={{vudu 'mb6'}} src='images/logo_white.svg' />
        {{sanctu-chimp submitAction="emberChimpDidSubmit"}}
      </div>
      <div class="arrow-wrapper {{vudu 'absolute b0 r0 pointerAuto'}}">
        {{scroll-to-arrow isDown=true fill='white'}}
      </div>
    {{/cloud-overlay}}
    <div class='{{vudu "cloudTriangleUp"}}'></div>
  </div>
  <div class='{{vudu "topLevelContent"}}'>
    {{outlet}}
  </div>
</div>
