<div class="{{styles.workRoute}} {{vudu 'liquidInner'}}">
  <div class={{vudu 'relative'}}>
    <img class={{vudu 'mirror fullWidth'}} src='images/stroke.svg'>
    {{scroll-to-arrow direction="down"}}
  </div>
  {{outlet}}
</div>
